extends ../components/base/layout

block variables
  - const title = "Test task Ibrush"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""

block main
  main
    +intro()
    +quote()
    +ads()
    +recup()
    +review()
    +posts()

block modals
  +modal("modal--request")(data-modal="request")
    +modal-request()
