mixin ads()
  section.ads

    .container

      h2.title.ads__title.visually-hidden Реклама

      .ads__wrapper

        figure.ads__img
          img(src="img/content/books-3.png" width="610", height="246", alt="Реклама")
          figcaption Реклама на <span>blabla.com</span>
