mixin intro()
  section.intro
    .container

      h1.title.intro__title.title--h1 Путь JavaScript

      .intro__slider.slider
        img(src="img/content/books-1.png" width="738", height="330", alt="JS Books")
        +icon("triangle_light", 18, 13).intro__triangle

        .intro__date.date
          time(datetime="2022-04-12")
            span 12
              +icon("triangle_dark", 7, 5)
            span Апреля

      p.intro__paragraph Можно выделить три основных направления для прогресса JavaScript&nbsp;<span>Middle...</span>
