mixin quote()
  section.quote

    .container

      h3.title.quote__title.title--h3 Серверный JavaScript

      .quote__wrapper
        q.quote__text(cite="#") Разработчики и клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и&nbsp;думают, что он и есть система. Они определяют систему в&nbsp;терминах графического интерфейса и считают, что должны сразу начать работу с&nbsp;графическим интерфейсом. Они не понимают важнейшего принципа: ввод/вывод не важен.
        +icon("substract", 38, 38)

        span.quote__author — Р. Мартин
