.title {
  margin-top: 0;
}

.title--h1 {
  font-size: 52px;
  line-height: 48px;
  letter-spacing: -2px;
  font-weight: 600;

  @media (max-width: 767px) {
    font-size: 34px;
    line-height: 38px;
  }
}

.title--h2 {
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -0.5px;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.title--h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 30px;
  }
}
