doctype html
block variables
include ../components

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Test task iBrush")

    link(rel="stylesheet", href="css/style.min.css")

  body
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
